<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>Sign Up page</h1>
    <form action="" method="POST">
        <input type="email" name="email" id="userEmail" placeholder="Enter your email" required>
        <input type="text" name="name" id="firstName" placeholder="Enter your name" required>
        <input type="text" name="surname" id="lastName" placeholder="Enter your last name" required>
        <input type="password" name="password" id="userPassword" placeholder="Enter your password" required min="5">
        <input type="password" name="confirmPassword" placeholder="Confirm your password" id="conPassword" required min="5">
        <input type="submit">
    </form>

</body>
</html>